* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --purple: #8c05a7;
    --gray: #8b8888;
    --white: #fff;
}

body {
    background-color: var(--gray);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0rem;
}

.form-top {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.close-button {
    padding-left: 3.5rem;
    color: var(--white);
    font-weight: 300;
}

.close-button:hover {
    color: black;
    cursor: pointer;
}

.title {

}

/* ADD BOOK */

.addbook {
    height: 2.5rem;
    width: 8rem;
    background-color: var(--purple);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 700;
}

.addbook:hover {
    cursor: pointer;
    background-color: rgb(191, 9, 228);
}

.library-container {
    display: grid;
    place-items: center;
    gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

/* BOOK DATA FORM */

.book-data {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 29rem;
    width: 23rem;
    background-color: var(--purple);
    border-radius: 20px;
    visibility: hidden;
}

.form-title {
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
    color: var(--white);
    font-size: 1.1rem;
    text-decoration: underline;
}

.data-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    padding: 0.75rem ;
    list-style-type: none;
}

input {
    height: 2rem;
    width: 18rem;
    padding-left: 1rem;
    border: none;
    border-radius: 10px;
}  

::placeholder {
    font-size: 1rem;
}

.read-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    color: var(--white);
    font-weight: 500;
}

.submit {
    height: 2.5rem;
    width: 12rem;
    border-radius: 30px;
    background-color: rgb(12, 182, 12);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
}

.submit:hover {
    cursor: pointer;
    height: 2.6rem;
    width: 12.7rem;
    background-color: rgb(6, 218, 6);
}

/* CLASSES FOR JS-CREATED ELEMENTS */

.library-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 14rem;
    width: 20rem;
    background-color: aqua;
    border-radius: 20px;
}

.new-div-one {
    font-size: 1.4rem;
    text-decoration: underline;
}

.new-div-two {
    
}

.new-div-three {
    
}

.new-div-four {
    
}
