* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --light-blue: hsl(200, 50%, 50%);
    --blue: hsl(225, 50%, 50%);
    --indigo: hsl(250, 50%, 50%);
    --purple: hsl(275, 50%, 50%);
    --grey: hsl(0, 1%, 33%);
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.871331828442438) 50%, rgba(0,212,255,1) 100%) no-repeat;
    min-height: 150vh;
    max-height: 15000vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
}

.form-top {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.close-button {
    padding-left: 3.5rem;
    color: #fff;
    font-weight: 700;
}

.close-button:hover {
    color: black;
    cursor: pointer;
}

.title {
    color: var(--light-blue);
    font-size: 2rem;
    margin-left: 5vw;
}


/* ADD BOOK */

.navbar button {
    margin-right: 5vw;
}

.addbook {
    height: 2.5rem;
    width: 12rem;
    background-color: var(--light-blue);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 700;
}

.addbook:hover {
    cursor: pointer;
    background-color: hsl(190, 50%, 50%);
}

.library-container {
    display: grid;
    place-items: center;
    gap: 1.5rem 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

/* BOOK DATA FORM */

.book-data {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 29rem;
    width: 23rem;
    background: rgb(62,49,196);
    background: linear-gradient(347deg, rgba(62,49,196,1) 5%, rgba(78,43,187,1) 28%, rgba(90,38,179,1) 78%, rgba(108,30,168,1) 100%);
    border-radius: 20px;
    visibility: hidden;
}

.form-title {
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: underline;
}

.data-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    padding: 0.75rem ;
    list-style-type: none;
}

input {
    height: 2rem;
    width: 18rem;
    padding-left: 1rem;
    border: none;
    border-radius: 10px;
}  

::placeholder {
    font-size: 1rem;
}

.read-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    color: #fff;
    font-weight: 500;
}

.submit {
    height: 2.5rem;
    width: 12rem;
    border-radius: 30px;
    background-color: var(--light-blue);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.submit:hover {
    cursor: pointer;
    background-color: hsl(190, 50%, 50%);
}


/* CLASSES FOR JS-CREATED ELEMENTS */

.library-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 14rem;
    width: 28rem;
    background: rgb(15,43,126);
    background: linear-gradient(315deg, rgba(15,43,126,1) 2%, rgba(84,110,185,1) 65%);
    box-shadow: 5px 5px 50px -20px;
    opacity: 0.6;
    border-radius: 20px;
}

.new-div-one {
    color: #fff;
    font-size: 1rem;
    text-decoration: underline;
}

.new-div-two {
    color: #fff;
    font-size: 1rem;
    text-decoration: underline;
}

.new-div-three {
    color: #fff;
    font-size: 1rem;
    text-decoration: underline;
}

.read-button {
    height: 2rem;
    width: 80%;
    color: #fff;
    background-color: rgb(12, 182, 12);
    opacity: 1;
    border: none;
    border-radius: 20px;
    font-weight: 700;
}

.read-button:hover {
    cursor: pointer;
    background-color: rgb(6, 218, 6);
}

.new-delete {
    height: 2rem;
    width: 80%;
    color: #fff;
    background-color: var(--grey);
    border: none;
    border-radius: 20px;
    font-weight: 700;
}

.new-delete:hover {
    cursor: pointer;
    background-color: hsl(0, 2%, 43%)
}

.unread-button {
    background-color: rgb(119, 12, 12);
}

.unread-button:hover {
    background-color: rgb(184, 21, 21)
}

.book-read {
    background-color: var(--blue);
    opacity: 1;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {

    .close-button {
        padding-right: 1rem;
        font-size: 1.2rem;
    }

    .addbook {
        font-size: 0.8rem;
    }

    .book-data {
        height: 25rem;
        width: 15rem;
    }

    .form-title {
        padding-left: 0.9rem;
        font-size: 0.7rem;
    }

    input {
        height: 1.5rem;
        width: 13rem;
    }

    ::placeholder {
        font-size: 0.65rem;
    }

    .read-status {
        font-size: 0.7rem;
    }

    .library-container {
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    }

    .library-entry {
        width: 22rem;
    }

    .new-div-one,
    .new-div-two,
    .new-div-three {
        font-size: 0.75rem;
    }

    .new-delete, 
    .read-button, 
    .unread-button,
    .submit {
        font-size: 0.7rem;
    }

    .submit {
        height: 1.8rem;
    }

}

@media only screen and (max-width: 425px) {

    .title {
        font-size: 1.2rem;
    }

    .addbook {
        height: 1.4rem;
        width: 7rem;
        font-size: 0.6rem;
    }

    .library-container {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }

    .library-entry {
        height: 10rem;
        width:15rem;
    }

    .new-div-one,
    .new-div-two,
    .new-div-three {
        font-size: 0.6rem;
    }

    .new-delete, 
    .read-button, 
    .unread-button {
        height: 1.3rem;
        font-size: 0.6rem;
    }
}